<div class="bg-secondary-400 py-7 px-5">
    <div class="card bg-light p-5 p-lg-8 rounded-4 border-0">
        <div class="text-center">
            <!-- logo -->
            <img src="/assets/images/logo.svg" alt="Play Grow Logo" class="img-fluid mb-5">
            <!-- line icon for sm -->
            <div class="d-flex d-lg-none justify-content-center">
                <!--   <a href="#" class="text-decoration-none mx-0 p-3 icon-24"><i class="icon-24 bi bi-instagram"></i></a>
                <a href="#" class="text-decoration-none mx-0 p-3 icon-24"><i class="icon-24 bi bi-facebook"></i></a>
                <a href="#" class="text-decoration-none mx-0 p-3 icon-24"><i class="icon-24 bi bi-line"></i></a> -->
                <a href="#" class="text-decoration-none mx-0 my-0 p-3 icon-24"><img class="img-fluid"
                        src="/assets/images/instagram.svg" alt="instagram"></a>
                <a href="#" class="text-decoration-none mx-0 p-3 icon-24"><img class="img-fluid"
                        src="/assets/images/facebook.svg" alt="facebook"></a>
                <a href="#" class="text-decoration-none mx-0 p-3 icon-24"><img class="img-fluid"
                        src="/assets/images/line.png" alt="line"></a>
            </div>
            <hr class="my-4 my-lg-5">
            <!-- list group -->
            <ul
                class="list-group list-group-flush d-flex flex-column flex-lg-row align-items-start justify-content-lg-center gap-5">
                <li class="footer list-group-item p-4"><a href="#"
                        class="text-decoration-none mx-0 p-4 icon-24 text-dark"><img class="img-fluid me-2"
                            src="/assets/images/Vector.svg" alt="Vector">新品報到</a></li>
                <li class="footer list-group-item p-4"><a href="#"
                        class="text-decoration-none mx-0 p-4 icon-24 text-dark"><img class="img-fluid me-2"
                            src="/assets/images/Vector.svg" alt="Vector">關於 PlayGrow 親子學</a></li>
                <li class="footer list-group-item p-4"><a href="#"
                        class="text-decoration-none mx-0 p-4 icon-24 text-dark"><img class="img-fluid me-2"
                            src="/assets/images/Vector.svg" alt="Vector">親子育兒專欄</a></li>
            </ul>
            <!-- line icon for lg -->
            <div class="d-flex d-none d-lg-block justify-content-center">
                <a href="#" class="text-decoration-none mx-0 my-0 p-3 icon-24"><img class="img-fluid"
                        src="/assets/images/instagram.svg" alt="instagram"></a>
                <a href="#" class="text-decoration-none mx-0 p-3 icon-24"><img class="img-fluid"
                        src="/assets/images/facebook.svg" alt="facebook"></a>
                <a href="#" class="text-decoration-none mx-0 p-3 icon-24"><img class="img-fluid"
                        src="/assets/images/line.png" alt="line"></a>
            </div>
            <hr class="my-5">
            <!-- copyright -->
            <div class="text-muted">
                <p class="mb-1 mb-lg-4">Play Grow 親子學股份有限公司</p>
                <p class="text-gray-950 mb-0">© Copyright 2024 TTH. All Rights Reserved</p>
            </div>

        </div>

    </div>

</div>