<div class="container py-2">
    <nav class="navbar navbar-expand-lg navbar-light">
        <!-- logo -->
        <a class="navbar-brand py-0" href="#"><img class="img-fluid" src="/assets/images/logo.svg" alt="logo"></a>
        <!-- lg-link-item -->
        <div class="d-none d-lg-block mx-auto">
            <a class="p-4 link-dark text-decoration-none" href="#"><img class="img-fluid me-2"
                    src="/assets/images/Vector.svg" alt="Vector">產品資訊
            </a>
            <a class="p-4 link-dark text-decoration-none" href="#"><img class="img-fluid me-2"
                    src="/assets/images/Vector.svg" alt="Vector">關於 PlayGrow 親子學
            </a>
            <a class="p-4 link-dark text-decoration-none" href="#"><img class="img-fluid me-2"
                    src="/assets/images/Vector.svg" alt="Vector">親子育兒專欄
            </a>
        </div>
        <!-- lg-icon-item -->
        <a class="navbar-brand d-none d-lg-block p-3 ms-auto mx-0 me-5" href="#"><img src="/assets/images/search.svg"
                alt="search"></a>
        <a class="navbar-brand d-none d-lg-block p-3 mx-0 me-5" href="#"><img src="/assets/images/shopping-cart.png"
                alt="shopping-cart"></a>
        <!-- (lg)-user-item -->
        <a class="navbar-brand p-3 mx-0 ms-auto ms-lg-0" href="#"><img src="/assets/images/user.svg" alt="user"></a>
        <!-- hamburger -->
        <button class="navbar-toggler border-0 p-3 mx-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="py-5 px-3 bg-secondary-100 collapse navbar-collapse" id="navbarTogglerDemo02">
        <!-- hamburger fold-->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link p-4 collapsed" href="#productSubmenu" role="button" data-bs-toggle="collapse"
                    aria-expanded="false">
                    <div class="d-flex">
                        <img class="img-fluid me-2" src="/assets/images/Vector.svg" alt="Vector">
                        <div>產品資訊</div>
                        <span class="ms-auto">
                            <i class="bi bi-chevron-down icon-down"></i>
                            <i class="bi bi-chevron-up icon-up"></i>
                        </span>
                    </div>

                </a>
                <div class="collapse" id="productSubmenu">
                    <ul class="nav flex-column ps-6">
                        <li class="nav-item">
                            <a class="nav-link py-1" href="#">Action</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-1" href="#">Action2</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link p-4 collapsed" href="#aboutSubmenu" role="button" data-bs-toggle="collapse"
                    aria-expanded="false">
                    <div class="d-flex">
                        <img class="img-fluid me-2" src="/assets/images/Vector.svg" alt="Vector">
                        <div>關於 PlayGrow 親子學</div>
                        <span class="ms-auto">
                            <i class="bi bi-chevron-down icon-down"></i>
                            <i class="bi bi-chevron-up icon-up"></i>
                        </span>
                    </div>
                </a>
                <div class="collapse" id="aboutSubmenu">
                    <ul class="nav flex-column ps-6">
                        <li class="nav-item">
                            <a class="nav-link py-1" href="#">Action</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-1" href="#">Action2</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item mb-11">
                <a class="nav-link p-4 collapsed" href="#blogSubmenu" role="button" data-bs-toggle="collapse"
                    aria-expanded="false">
                    <div class="d-flex">
                        <img class="img-fluid me-2" src="/assets/images/Vector.svg" alt="Vector">
                        <div>親子育兒專欄</div>
                        <span class="ms-auto">
                            <i class="bi bi-chevron-down icon-down"></i>
                            <i class="bi bi-chevron-up icon-up"></i>
                        </span>
                    </div>
                </a>
                <div class="collapse" id="blogSubmenu">
                    <ul class="nav flex-column ps-6">
                        <li class="nav-item">
                            <a class="nav-link py-1" href="#">Action</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-1" href="#">Action2</a>
                        </li>
                    </ul>
                </div>
            </li>

            <button type="button" class="mt-10 btn btn-primary-600 rounded-pill text-white p-3 border-0">登入 / 註冊</button>
        </ul>
    </div>


</div>