.logo-width {
  width: 38.84%; 
  height: auto; 
}

.list-group-item.footer {
  border: none;
}

.list-group-item.footer a {
  font-size: inherit;
}

.list-group-item:not(.active) {
  background-color: transparent;
}

.text-gray-950{
  color: #121212;
}


