.hero-section {
    background-image: url(/assets/images/Vector-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    padding: 70px 87.5px;
}

@media(min-width: 767px) {
    .hero-section {
        padding: 200px 99.5px;
    }
}


.translate.grid {
    transform: translate(-47px, -71.17px)
}

.translate.sticks {
    transform: translate(0px, -80px)
}

.translate.wave {
    transform: translate(180px, 150px);
}

//.product-div {
//    width: 100%;
//}

.breadcrumb-item a {
    text-decoration: none;
    color: $gray-700;

    &:hover {
        text-decoration: underline;
        color: darken($gray-700, 30%);
    }
}


/* 當 a 標籤有 .collapsed class 時 (收合狀態)... */
a.collapsed .icon-up {
    display: none;
}

a.collapsed .icon-down {
    display: block;
}

/* 當 a 標籤沒有 .collapsed class 時 (展開狀態)... */
a:not(.collapsed) .icon-up {
    display: block;
}

a:not(.collapsed) .icon-down {
    display: none;
}


/* 收藏愛心按鈕 */

.badge {
    top: 5%;
    left: 95%;
}
/* 熱銷標籤*/
.tag {
    left: 5% !important;
    top: 5% !important;
    min-width: 85px;
    justify-content: center;
}


.nav-link:hover {
    color: var(--bs-nav-link-hover-color);
    background: $secondary-200;
} 


.pagination .page-link {
    border: none;
    /* 固定寬高 */
    width: 40px;
    height: 40px;
    /* 內容置中 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .page-link img {
    display: block;
    /* 避免被行高影響 */
    width: 24px;
    height: 24px;
}